body
    max-width 1280px
    margin 0 auto
    border 1px solid red
img
    max-width 100%
.header    
    display flex
    flex-direction row
    flex-wrap nowrap
    justify-content space-between
    align-items center
    .header_logo
        img
            width: 225px;
            height: 32px;
    


