body
    max-width 1280px
    margin 0 auto    
img
    max-width 100%
a
    &:hover
        text-decoration none
input
    &:hover
        outline none
    &:checked
        outline none
    &:focus
        outline none

@import "section_1.styl"
@import "section_2.styl"
@import "section_3.styl"
@import "section_4.styl"
@import "section_5.styl"
@import "section_6.styl"


    
        
    


