.text
    width 1213px
    margin 0 auto
    margin-top 78px
    display flex
    flex-direction column
    align-items flex-start
    p 
        font-family 'Montserrat', sans-serif
        font-size: 16px;
        font-weight: 500;
        line-height: 25px;
        letter-spacing: 0.48px;
    blockquote
        margin-top 55px
        box-sizing border-box
        text-align center
        width: 945px;
        height: 80px;
        background #fff
        align-self center
    .text_border        
        position relative
        background #fff
        padding-top 30px        
        &::before
            content ''
            position absolute
            background-image: linear-gradient(to left, #f0a144 0%, #e05247 100%);
            width 440px
            height 80px
            left -5px
            top -5px
            z-index -1
        &::after
            content ''
            position absolute
            background-image: linear-gradient(to right , #f0a144 0%, #e05247 100%);
            width 440px
            height 80px
            right  -5px
            bottom -30px
            z-index -2
    .text_authe
        align-self flex-end
        margin-right 131px
        margin-bottom 30px
        font-family 'Montserrat', sans-serif
        font-size 14px
        font-weight 600
        line-height 25px
        letter-spacing 0.42px
    .text_lists
        width 100%
    .text_lists_one
        padding 0                    
        list-style-type none
        li
            font-family 'Montserrat', sans-serif
            font-size: 16px;
            font-weight: 600;
            line-height: 25px;
        .text_lists_two
            margin-top 33px
            margin-bottom 33px
            li
                list-style-type none
                font-family 'Montserrat', sans-serif
                font-size: 16px;
                font-weight: 400;
                line-height: 25px;
                position relative
                &::before
                    content ''
                    position absolute
                    background-image: linear-gradient(to right , #f0a144 0%, #e05247 100%);
                    width 5px
                    height 5px
                    border-radius: 50%
                    top 9px
                    left -11px
                    z-index -2
    .text_to_top
        margin-top -15px
        .text_hyper
            color: #e05247;
            font-family 'Montserrat', sans-serif
            font-weight: 500;
            letter-spacing: 0.48px;
            text-decoration: underline;