.sale
    margin-top 85px
    width 100%
    display flex
    flex-direction column
    justify-content center
    align-items center
    .sale_header
        width 100%
        flex-grow 10
        h3
            width 60%
            margin-left 80px
            font-family 'Montserrat', sans-serif
            font-size: 30px;
            font-weight: 700;
            line-height: 40px;
            text-transform: uppercase;
            letter-spacing: 0.9px;
            position relative
            &::before
                content ''
                position absolute
                width: 40px;
                height: 3px;
                background-image: linear-gradient(to left, #f0a144 0%, #e05247 100%);
                top: 17px;
                left: -47px;
                z-index -2
    .sale_wrapper
        width 100%
        margin-top 80px
        display flex
        flex-wrap wrap
        justify-content center
        align-items flex-start
        .sale_bg
            flex-basis 50%
        .sale_form
            flex-basis 50%
            button
                width: 160px;
                height: 30px;
                border-radius: 15px;
                border 2px solid #e05247
                background-color #fff
                color: #e05247;
                font-family 'Montserrat', sans-serif
                font-size: 12px;
                font-weight: 500;
            h3 
                margin-top 15px
                font-family 'Montserrat', sans-serif
                font-size: 22px;
                font-weight: 600;
                line-height: 40px;
                letter-spacing: 0.66px; 
            label[for="sale_btn"]
                position relative
                left 15px
                font-family 'Montserrat', sans-serif
                font-size: 14px;
                font-weight: 600;
                line-height: 25px;
                letter-spacing: 0.42px
                padding-left 19px
                margin-bottom -10px                
            input[type="email"]
                width: 400px;
                height: 55px;
                border-radius: 28px;
                border 2px solid #e05247
                background-color: #ffffff
                padding-left 34px
                margin-top 10px  
            input[type="button"]
                width: 400px;
                height: 55px;
                margin-top 22px
                border none
                outline none
                border-radius: 28px;
                background-image: linear-gradient(to right, #f0a144 0%, #e05247 100%); 
                color: #ffffff;
                font-family 'Montserrat', sans-serif
                font-size: 16px;
                font-weight: 500;
                line-height: 25px;
                /* Text style for "П, одписат" */
                letter-spacing: 0.48px;
            input[type="checkbox"]
                appearance none
                &:checked
                    +span
                        background-image url("/img/checkbox/checkbox_checked.png")
            label[for="sale_conf"]
                font-family 'Montserrat', sans-serif
                font-size: 14px;
                font-weight: 400;
                line-height: 22px;
                margin-top 27px
                .sale_checkbox
                    display inline-block
                    width 15px
                    height 15px
                    background-image url("/img/checkbox/checkbox.png")
                    margin-top -1px 
                    margin-right 5px
                .sale_color
                    color: #e25b47;
                    font-family: "Montserrat Medium";
                    font-weight: 500;
                    letter-spacing: 0.42px;
                    text-decoration: underline;
                    font-family 'Montserrat', sans-serif
                    display block
                    margin-left 7px

        
